<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置dubbo的应用名称-->
    <dubbo:application name="edu-ex-service"/>

    <!--注册中心 192.168.1.37- 10.28.231.165-->
    <dubbo:registry protocol="zookeeper" address="10.65.56.58:2181"></dubbo:registry>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.ex.service.IUserService" ref="userService" />
    <bean id="userService" class="com.ex.service.impl.UserService"/>
</beans>