<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whut.dao.IUserDao" >
    <select id="doLogin" parameterType="com.whut.bean.UserInfo"
            resultType="com.whut.bean.UserInfo">
        select * from userinfo where username=#{username} and password=#{password}
    </select>
    <select id="findAll" resultType="com.whut.bean.UserInfo">
        select * from userinfo
    </select>
    <insert id="InsertUser" parameterType="com.whut.bean.UserInfo">
        insert into userinfo (id,username,password) values (#{id},#{username},#{password})
    </insert>
    <delete id="DeleteUser" parameterType="int">
        delete from userinfo where id=#{id}
    </delete>
    <select id="selectByUsername" parameterType="String"
            resultType="com.whut.bean.UserInfo">
        select * from userinfo where username=#{username}
    </select>



</mapper>